
canvas{
    margin-left: 20%;
    background: fixed;
    background-image: url(../img/Background.jpg);
    background-size: 80% cover;
    background-repeat: no-repeat;
    border: 1px solid;
}

h1{
    position: absolute;
    top: 80px;
    left: 38%;
    font-size: 3em;
    font-family: Arial;

}

#start{
    top: 350px;    
}
#help{
    top: 450px;    
}

#start, #help, #iback{
    position: absolute;
    left: 39.5%;
    width: 300px;
    height: 70px;
    font-size: 2em;
    border-radius: 20px;
    border: 1px solid black;
    background-color: brown;
    color: aliceblue;
}

#helper{
    width: 800px;
    display: none;
    position: absolute;
    top: 70px;
    padding-top: 15px;
    font-size: 1.5em;
    left: 25%;
}

#helper p{
    padding-top: 35px;
}
#iback{
    left: 75%;
    top: 450px;
    height: 50px;
    width: 225px;
    font-size: 1.3em;
}

#isoundOff, #isound{
    position: absolute;
    top: 50px;
    left: 22.5%;
    width: 50px;
   
}

#isound{
    display: block;
}

#isound:hover, #iback:hover,
#start:hover, #help:hover{
    cursor: pointer;
}

#isoundOff{
    display: none;
}
